##      --- LIST.  STRING.  INDEX ---

#### NOTE :  List is MUTABLE, string is  IMMUTABLE

In [63]:
## STRING

#concatenation operation

name='raj'
print(name + ' kumar') # returns 'raj kumar'

len(name) # returns '3'


#Find Function   
#.   S.find(sub[, start[, end]]) -> int    --- here sub = substring  --> returns int

course_name = 'data science masters'

course_name.find('a') #Return the lowest index in S where substring sub is found,
#Here 'a' is present at index 1,3 and so on, find() will return lowest index i.e is '1'

course_name.find('a',3,8)  # returns index 3

course_name.find('z') # returns -1. means element not present in given obj

## Their are many functions for 'string.'

# COUNT()     -- Return the number of non-overlapping occurrences of substring sub in

course_name.count('a')  # returns '3'   as 'a' is ocurred 3 times in string.

#check for empty string
course_name.count(' ')  # 2 empty spaces in string

course_name.index('')


## SPLIT()      ---  course_name.split(sep=None, maxsplit=-1)

course_name.split(sep='a')   #Return a list of the words in the string, using sep as the delimiter string.


course_name.partition('a')       #Partition the string into three parts using the given separator.




course_name.swapcase()
course_name.title()





#-----------------WE CAN ADD MULTIPLE FUNCTIONS IN STRING OPERATIONS-----------------
course_name[:5].swapcase().title().split(sep=" ")

raj kumar

['Data', '']

In [1]:
## we will check out string

a_list = [2,3,4,5]
a_list [2]  #4
a_list [2] = 8 # now it is 8

## but in case of string

name= 'rambo'
name[2] # 'm'
name[2] = 'k' #TypeError: 'str' object does not support item assignment

print(name)

TypeError: 'str' object does not support item assignment

## INDEXING

In [27]:
## String operations 
# [start:end] - starts with 0, first element is always 0th index

name = "notebook"

name [:]   ## returns the whole string 'notebook'
name [:1] ## returns 'n'
name [0:-1] ## 'noteboo'
name [:-1] ## returns 'noteboo' 
name [:0] ## returns ''
name [1:] ## returns 'otebook'
name [1:5] ## 'oteb'

name [2:-1] ## it will return value from 3rd place till 2nd last place. 'teboo'
name [-1:] # returns last place 'k'
name [-4:] # returns 4 places from end. 'book'
name [-1:2] # it returns nothing ''
name [-1:-5] # returns nothing ''
# because -1 is last place and it moves forward direction only, so after last place thr is nothing in end.

name [-5:-1] # returns 'eboo'  


# NOTE : [:] by default string moves in forward direction, hence we cannot print words in reverse order. use [::-1]
# NOTE : [:] range starts from '0' hence will return all the string value exept for the no. mentioned in the range.

'eboo'

In [19]:
## step size in indexing [::]
# [start:end:steps]

name = "notebook"

name [::] ## will return 'notebook'

name [::2] # returns every 2nd value of the string  'ntbo'
name [::1] ## returns 'notebook'
name [::-1] # reverses the string 'koobeton'
name [::-2] #reverses the string and returns 2nd value 'koeo'

name [2::-1] # after 2nd place it will reverse and print till 2nd last place
# 2nd place = 'n -o', 
# it will reverse the string 'koobeton', 
# now it will start from 'no -t'  and return till last
# that is 'ton'

name [-4::2]

'bo'

In [36]:
course_name = "Data science masters"


course_name [5:-8]

course_name [12:4:-1]

' ecneics'

# -------LISTS---------

In [64]:
# Lists are mutable data structure

list1=["monkey","donkey","cat"]
list1 + "lion"

TypeError: can only concatenate list (not "str") to list

In [71]:
## Inplace operation

#list1.sort()
list1.append('kamt')
list1.reverse()


list1.append(['nyak','mang'])  #This will created nested list, list within a list

list1.extend(['nyak','mang']) #This will add those 2 items in the list.




list2=[2,4,5,1,5,3]
#sort this list

print(list2.sort(reverse=True))

None

In [72]:
#List comprehension


# [expr. for val in collection] --- here expr adds the elements and for loops through it giving a list obj.



squares = []

for i in range (1,101):
    squares.append(i**2)
    
    
# This is list comprehension for above code. 
squares2 = [i**2 for i in range(1,101)]


remainders = [x**2 %5 for x in range (1,101)]


movies = ['goagone','tribute','masahal','natwrar','meinlkamp','naveen','naad','johar']

gmovies =[]
# show movies starting with 'G'

for title in movies:
    if title.startswith('n'):
        gmovies.append(title)

In [85]:
movies = ['goagone','tribute','masahal','natwrar','meinlkamp','naveen','naad','johar']

gmovies =[]
# show movies starting with 'G'

for title in movies:
    if title.startswith('n'):
        gmovies.append(title)
        



gmovies=[title for title in movies if title.startswith('m')]

print(gmovies)

evnum = []

evnum = [num for num in range (1,100) if num%2==0]

len(evnum)

['masahal', 'meinlkamp']

49

In [79]:
# Scalar multiplication


v = [2,3,4]

print(v*4)  # this is not scalar multiplication(here u will get 2,3,4.  4 times)


v1 = [k*4 for k in v]   # here you got 8,12,16

print(v1)

[2, 3, 4, 2, 3, 4, 2, 3, 4, 2, 3, 4]
[8, 12, 16]

In [95]:
## sum of even and odd num 1,100

even=0
odd =0

for i in range(1,100):
    if i%2 == 0:
        even=even+i
    else :
        odd=odd+i
        
print(even, odd)


even_sum = sum([num for num in range(1,100) if num%2==0 ])
print(even_sum)



sqr=[]
sqr = [num**2 for num in range(1,20)]
print(sqr)

2450 2500
2450
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]