In [12]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

lst=[4, 8, 15, 16, 23,42]

import pandas as pd

df=pd.DataFrame(lst)

lst_series=df[0]

type(lst_series)

pandas.core.series.Series

In [17]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

players = ['sachin','ganguli','madan','junaid','naveen','rahul','pandya','marshal','sanjeev','ravi']

#df1 = pd.DataFrame(players)

pd.Series(players)

0     sachin
1    ganguli
2      madan
3     junaid
4     naveen
5      rahul
6     pandya
7    marshal
8    sanjeev
9       ravi
dtype: object

In [28]:
#Q3. Create a Pandas DataFrame that contains the following data:
#Then, print the DataFrame.

# Method 01

data1={'Name':['Alice','BOB','Claire'], 
       'Age':[25,30,27], 
       'Gender':['Femal','Male','Female']}



df2=pd.DataFrame(data1)

print(df2)

df2['Age']

     Name  Age  Gender
0   Alice   25   Femal
1     BOB   30    Male
2  Claire   27  Female

0    25
1    30
2    27
Name: Age, dtype: int64

In [25]:
## Method 02

data2 = [['Name', 'Age','Gender'],['Alice',25,'Femal'],['Bob',30,'Male'],['Claire',27,'Female']]

dfdata2=pd.DataFrame(data2)
type(dfdata2)
print(dfdata2)

        0    1       2
0    Name  Age  Gender
1   Alice   25   Femal
2     Bob   30    Male
3  Claire   27  Female

#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame is a data structure that organizes data into a 2-D table of rows and columns like SQL.

Difference between Dataframe and series:
DataFrame is 2 Dimensional data structure  e.g you can add multiple columns in DataFrame
DataFrame size in mutable

e.g: df2[['Age','Gender']]

	Age	Gender
0	25	Femal
1	30	Male
2	27	Female



Series is 1 Dimensional data structure e.g you can add only one column in series 
Series size is immutable  and has only 1 dtype

e.g df2['Age']

0    25
1    30
2    27
Name: Age, dtype: int64

In [ ]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?