# LOOPS & CONDITIONS

In [2]:
# We are going to make a Patterns out of loop statements
# if else elif
# loops ,  for/while
n=7

In [7]:
## Right Angeled Triangle

for i in range(0,7):
    for j in range(0,i+1):
        print('*',end="")
    print('\r')

*
**
***
****
*****
******
*******

In [31]:
## Equilateral Triangle

for i in range(0,10):
    for j in range(0,10-i):
        print(' ',end="")

    for k in range(0,i+1):
        print('*',end="")
        
    for m in range(1,i+1):
        print('*',end="")
    print('\r')

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

# Operators

### AND NOT NOR OR

In [32]:
ans = True
second_ans = False

not True
not False

True

In [42]:

# Here we have use type casting to convert boolean 0 to int
# any no greater than 1 is 1 only, e.g. 2,3,4 ..
# boolean of any positive negative no. is True.
int(bool(0))


not(int(bool(0)))

bool(0) # False

bool(1) # True


not 0  # True

int(not 0)  # 1

bool(0)

False

## Memory address

#### Each object has its own memory address

### Equality operations
######  is , not is, ==, !==

In [46]:
## To check memory address

a_list=['nerul','vashi','belapur']
b_list=['nerul','vashi','belapur']

id(a_list)  #140418867531648

id(b_list) #140418867509312

# If we create 2 different variable and have differe memory address 
# But if we assign  1 variable to another they will have same memory address.

140418867509312

In [52]:
## Id will be same for same int or string but not for same list

a=2
b=2

name1= 'ram'
name2 = 'ram'

list_a = [2,3,4]
list_b = [2,3,4]

place1_lst = ['pune', 'goa', 'mum']
place2_lst = ['pune', 'goa', 'mum']

print('a', id(a))  #140419216523536
print('b', id(b)) #140419216523536

print('name1', id(name1))
print('name2', id(name2))

print('list_a', id(list_a))
print('list_b', id(list_b))


print('place1_lst', id(place1_lst))
print('place2_lst', id(place2_lst))

## Below is the output for above 
## as we can see list are always stored in different memory address.
"""
a 140419216523536
b 140419216523536

name1 140418867149168
name2 140418867149168

list_a 140418867144960
list_b 140418867142720

place1_lst 140418867147840
place2_lst 140418867213440  

"""

a 140419216523536
b 140419216523536
name1 140418867149168
name2 140418867149168
list_a 140418867211456
list_b 140418879845440
place1_lst 140418879892864
place2_lst 140418867243840

'\na 140419216523536\nb 140419216523536\n\nname1 140418867149168\nname2 140418867149168\n\nlist_a 140418867144960\nlist_b 140418867142720\n\nplace1_lst 140418867147840\nplace2_lst 140418867213440  \n'